.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.hero-section {
  background: url('https://plus.unsplash.com/premium_vector-1697729872436-1b413b945567?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
  padding: 16px 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

// Import Bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons";


// Section quand le tirage n’a pas encore eu lieu
.empty-draw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background: #f8f9fa;
  color: #555;

  i {
    font-size: 50px;
    color: #888;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }
}

// Section après tirage
.draw-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  margin: 3rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.1);
}

.user {
  text-align: center;
}


.bi-arrow-right-circle {
  font-size: 40px;
  color: #007bff;
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
